@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<DNN.WokPickerDNN.YounglingSlayer.WokPicker.Models.HotCakes>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using System.Linq
@using Dnn.Modules.Console

@{string selectedBvin = ViewBag.items.bvin;

    var item = ViewBag.items;

}


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model == null)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    { 
        <h2>HotCakes elemek sikeresen beolvasva!</h2>
        <p>
            Választott bvin: @selectedBvin
        </p>

        if (item == null)
        {
            <p>no cucc sry</p>
        }
        else
        {
            var product_folder = @"\Portals\0\Hotcakes\Data\products\" + item.bvin + @"\";
            var product_image = product_folder + item.ImageFileSmall;
            <p>@product_image</p>

            <div class="WokPicker_card">
                <div class="WokPicker_Img">
                    <img src=@product_image alt=" teszt">
                </div>
                <p class="WokPicker_card_title">
                    @ViewBag.ProductName
                </p>

            </div>
        



            /*
            <p>
                név: @ViewBag.ProductName

                <br>
                SKU: @item.SKU
                <br>
                <img src=@product_image alt=" teszt">
                <br>
                Raktáron: @item.OutOfStockMode
            </p>*/
    
        }





    }
</div>
