@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage <DNN.WokPickerDNN.YounglingSlayer.WokPicker.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.MultiSelect, new { @class = "col-md-2 control-label" })
        </div>
        @Html.CheckBoxFor(m => Model.MultiSelect)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.NumberOfItems, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.NumberOfItems)
    </div>

    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.NumberOfSections, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.NumberOfSections)
    </div>



    @for (int i = 0; i < Model.NumberOfSections; i++)
    {
     <div>
            <h2>@ViewBag.section_names[i]</h2>
            <div class="WokPicker_settings_link">
                <a  href=@Url.Action("Section", "Settings", new {ctl = "Section", sectionId = i })> szerkesztés  @Dnn.LocalizeString("EditItem")</a>
                
            </div>
     </div>
    }


</fieldset>



