@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage <DNN.WokPickerDNN.YounglingSlayer.WokPicker.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.MultiSelect, new { @class = "col-md-2 control-label" })
        </div>
        @Html.CheckBoxFor(m => Model.MultiSelect)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.Setting2, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.Setting2)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.ItemID1, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.ItemID1)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.ItemName1, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.ItemName1)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.ItemImagePath1, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.ItemImagePath1)
    </div>
</fieldset>

